 /* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:300,400,500,700,700&display=swap'); */

body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(./IMG/background.jpg);
  background-size: cover;
}
.container{

}
header{
  background-color: #fff;
  height: 30px;
  font-size: 2em;
  text-align: center;
  line-height: 30px;
}
main{
  /* border: 1px solid blue; */
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.map{
  display: flex;
  flex-wrap: wrap;
  width:800px;
  position: relative;
}
.box{
  border: 1px solid rgb(158, 111, 9);
  width: 20%;
  height: 160px;
  background-color: rgba(150, 110, 25, 0.4);
  /* background-image: url(./IMG/number.jpg); */
  /* background-size: cover; */
  font-size: 1.5em;
  font-weight: 1.5em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}
.box span{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
}
/* @for $i from 1 through 16{
  .box[data-id="${i}"]::before{
    content : "i";
  }
} */
/* .box[data-id="1"]::before{content : "1";}
.box[data-id="2"]::before{content : "2";}
.box[data-id="3"]::before{content : "3";}
.box[data-id="4"]::before{content : "4";}
.box[data-id="5"]::before{content : "5";}
.box[data-id="6"]::before{content : "6";}
.box[data-id="7"]::before{content : "7";}
.box[data-id="8"]::before{content : "8";}
.box[data-id="9"]::before{content : "9";}
.box[data-id="10"]::before{content : "10";}
.box[data-id="11"]::before{content : "11";}
.box[data-id="12"]::before{content : "12";}
.box[data-id="13"]::before{content : "13";}
.box[data-id="14"]::before{content : "14";}
.box[data-id="15"]::before{content : "15";}
.box[data-id="16"]::before{content : "16";} */

.box.two{
  display: flex;
  flex-direction: column-reverse;
}
.box.three{
  display: flex;
  flex-direction: column-reverse;
}
.box.four{
  display: flex;
  flex-direction: column-reverse;
}
.box.five{
  display: flex;
  flex-direction: column-reverse;
}
.box.one i{
  /* flex: 1; */
  margin: auto auto 0 auto;
  font-size: 3em;
}
.box.two i{
  flex: 1;
  /* border: 1px solid; */
  margin: 0 auto;
  font-size: 3em;
}
.box.three i{
  flex: 1;
  margin: 0 auto;
  font-size: 2em;
}
.box.four i{
  margin: 0 auto;
  font-size: 1.6em;
}
.box.five i{
  margin: 0 auto;
  font-size: 1.3em;
}
.box.hidden{
  opacity: 0;
}
.cards{
  display: flex;
  /* flex-direction: column; */
  position: absolute;
  top: 180px;
  left: 170px;
}
.card{
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 80px;
  height: 120px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gray;
  /* justify-content: space-evenly; */
  z-index: 1;
}
.card i{
  flex: 1;
  font-size: 3em;
  text-align: center;
}
.card img{
  flex: 1;
  border: 1px solid blue;
  font-size: 3em;
  text-align: center;
}
i[data-color="yellow"]{
  color: yellow;
}
i[data-color="green"]{
  color: green;
}
i[data-color="blue"]{
  color: blue;
}
i[data-color="red"]{
  color: red;
}
i[data-color="white"]{
  color: white;
}
.card p{
  flex: 1;
  font-size: 2em;
  text-align: center;
  margin: 0;
  /* justify-content: center; */
  /* align-items: center; */
}
.card:hover{
  background-color: lightgray;
}
button{
  position: absolute;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 2em;
  top: 560px;
  left: 480px;
  z-index: 1;
}
button:hover{
  background-color: pink;
}
#canvas{
  position: absolute;
  left: 150px;
  top: 170px;
  /* border: 1px solid red; */
  /* background-color: rgba(200, 100, 10, 0.8); */
  opacity: 1;
}
#canvas.on{
  opacity: 0;
}

.players{
  /* border: 1px solid red; */
  top: 30px;
  height: 800px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.player{
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.player.on{
  border-radius: 20px;
  animation: twinkling 1500ms infinite;
}
@keyframes twinkling{
  0%{
    border: 2px solid blue;
  }
  50%{
    border: 1px solid transparent;
  }
  100%{
    border: 2px solid blue;
  }
}
.player .info{
  /* border: 1px solid green; */
  display: flex;
  flex: 1;
}
.face img{
  width: 100px;
  border-radius: 50%;
  margin: 15px;
}
.coin{
  display: flex;
  flex-direction: column;
}
.coin img{
  width: 50px;
  margin-top: 20px;
}
.coin p{
  font-size: 1.5em;
  margin: 0;
  margin-left: 20px;
}
.items{
  /* border: 1px solid blue; */
  flex: 2;
}
